.quadro__opcoes{
    width: 100%;
    height: 100%;
    display: grid;
    /* text-align: center; */
}
.item__opcoes{
    background-color: var(--cinza);
    border-radius: 1rem;
    width: 15rem;
    display: flex;
    padding: 1rem;
    margin: 1rem ;
    
}
.opcoes{
    display: grid;
    grid-template-rows: 1fr auto;
    background: var(--azul-fundo);
    border-radius: 1rem;
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 0.5rem;
}
.fa-money-check-dollar,.xml, .fa-dumpster, .fa-truck, .fa-calendar-days{
    font-size: 3.5rem;
}
.texto__opcoes a{
    text-decoration: none;
    color: #fff;
}
main{
    display: flex;
    flex-direction: column;
    
}
#GPO__agendamento{
    margin-top: 52.5rem;
}
.iframe{
    width: 87,5vw;
    height: 89vh;
}
.ativaGpo{
    display: none;
}
button {
    background: transparent;
    border: none;
    color: inherit;
    padding: 0.1rem;
    font-size: inherit;
    cursor: pointer;
    

}
.quadro__GPO{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3rem;
    
}
.secao__cartoes{
    display: grid;
    grid-template-columns: repeat(3,auto);
   
    list-style: none;
    
}
.secao__cartoes__item{
    margin: 1rem;
    background-color: var(--cinza);
    border-radius: 1rem;
    padding: 0.5rem;
}
.secao__cartoes__item a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    text-decoration: none;
}
.cartao__botao{
    padding-right: 0.2rem;
    

}
.secao__cartoes__item a i{
    font-size: 3rem;
    color: #fff;
}
.secao__cartoes__item a h3{
    color: #fff;
    align-self: center;
    justify-content: center;
    
}

.cartao__botao{
    align-self: center;
}



